* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  padding: 20px;
  margin-inline: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align vertically centered */
  padding: 24px;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center; /* Align vertically centered */
  gap: 3rem;
}

.underlinne {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 323px;
}

.form input {
  padding: 15px 34px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

.btn {
  padding: 15px 34px;
  border-radius: 5px;
  border: 1px solid black;
}

.footer {
  background-color: darkgrey;
  height: 333px;
}

/* for loader / spinner */

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 195px;
  margin-bottom: 33px;
}

.custom-loader {
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

/* dropdown meun */

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}

/* Dropdown content - initially hidden */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%; /* Position below the button */
  left: 0;
}

/* Dropdown links */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the button is hovered */
.dropdown:hover .dropdown-content {
  display: block;
}

/* .admin{
    display: flex;
    gap: 17rem;   
  } */

/* .adminLinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 34px;
  }
  */

/* .adminContent{
    margin-top: 34px;
  } */

/* Container for the entire admin section */
.adminsec {
  display: flex;
}

/* Style for the admin menu on the left */
.admin-menu {
  width: 500px; /* Adjust the width as needed */
  padding: 20px;
}

/* Style for the content on the right */
.content {
  flex: 1; /* Allow content to expand and fill available space */
  padding: 20px;
}

.categoryForm {
  text-align: center;
}
.categoryForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.categoryForm input {
  padding: 14px 12px;
  border-radius: 5px;
  border: 1px solid black;
}
.categoryForm form button {
  padding: 14px 12px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.categoryForm form button:hover {
  background-color: #333;
  color: white;
}

.uploadImage {
  position: relative;
  top: 34px;
  border: 2px solid gray;
  margin-top: 34px;
  padding: 13px;
  border-radius: 5px;
}

.imgPreview {
  margin-top: 74px;
}

.inputForm input {
  margin-top: 30px;
  width: 454px;
  padding: 14px;
  border: 1px solid gray;
  border-radius: 5px;
}

.shippingForm {
  margin-top: 30px;
  width: 454px;
  border: 1px solid gray;
  border-radius: 5px;
}

.btn {
  border: 2px solid gray;
  margin-top: 34px;
  padding: 13px;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chilCard {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.productImage {
  width: 100%;
}

.mainHome {
  display: flex;
  gap: 12rem;
}

.mainCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.childCard {
  /* width: calc(50.33% - 20px);  */
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 2px solid gray;
  text-align: center;
}

.childCard img {
  width: 100%;
  height: 243px;
}

.btnSection {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.filterPrice {
  margin-top: 33px;
  width: 123px;
}

.resetbtn {
  margin-top: 24px;
}

.mainProductDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 34px;
}

.productDetails img{
  width: 34%;
}


.similarProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}

.cartItems {
  text-align: center;
}
.users {
  text-align: center;
}

.cartChekcoutPayment {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 34px;
}

.cartSummary {
  position: sticky;
  top: 50px;
  right: 180px;
  bottom: 343px;
  width: 400px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.content {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 34%;
}

.paybtn {
  margin-top: 34px;
}
